<h1>Mission Planning Dashboard</h1>

<h3>
    Mission Name:
    <span *ngIf="!editingMission; else editMissionBlock">
        <span class="editable-text" (click)="editingMission = true;">{{ missionName }}</span>
    </span>
    <ng-template #editMissionBlock>
        <input #mission (keyup.enter)="updateMission(mission.value)" value="{{ missionName }}"/>
        <button (click)="updateMission(mission.value)">save</button>
    </ng-template>
</h3>

<h3>
    Carrier Rocket:  
    <span *ngIf="!editingName; else editNameBlock">
        <span class="editable-text-name" (click)="editingName = true;">{{ rocketName }}</span>
</span>
<ng-template #editNameBlock>
    <input #name (keyup.enter)="updateName(name.value)" value="{{ rocketName }}"/>
    <button (click)="updateName(name.value)">save</button>
</ng-template>
</h3>
